<div class="container">
  <div class="row">
    <div class="col-md-12 red-text error-section">
      <%= flash[:notice] %><br>
      <%= flash[:error] %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 small-section">
      <h1>Apply to Live in The Negev</h1>
    </div>
  </div>
  <%= image_tag "clipboard.svg", id: 'clipboard', class: 'small-section' %>
  <div class="row">
    <div class="small-section">
      <h2>The Application Process</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>We have a comprehensive application process to ensure that the people living in The Negev houses are the best of the best. The first step of the application process is to fill out our application form. Once that is done someone will contact you to set up a video interview.</p>
      <p>We filter out a large number of people after the video interivew. If you made the cut to the next round, you will be invited to the house for one of our events. We will get a chance to meet you, and you'll have an opportunity to meet us.</p>
      <p>The last step of our process is for everyone currently living in the house to vote in all the new roommates. If your future roommates like you and want to live with you, you're in!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn" id="showApplication">Apply Now!</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 small-section" id="app-form">
      <%= form_for @applicant, url: {action: 'create', controller: 'applicant'} do |f| %>
        <%= f.label :name %> <br>
        <%= f.text_field :name %> <br>

        <%= f.label :email %> <br>
        <%= f.email_field :email %> <br>

        <%= f.label :phone %> <br>
        <%= f.telephone_field :phone %> <br>

        <%= f.label :movein_date %> <br>
        <%= f.date_field :movein_date %> <br>

        <%= f.label :linkedin %> <br>
        <%= f.text_field :linkedin %> <br>

        <%= f.label :facebook %> <br>
        <%= f.text_field :facebook %> <br>

        <%= f.label :twitter %> <br>
        <%= f.text_field :twitter %> <br>
        <br>
        <%= f.submit 'Submit' %> <br>
      <% end %>
    </div>
  </div>
</div>
