<div class="container">
  <div class="row first-section">
    <div class="col-md-12">
      Frequently Asked Questions
    </div>
  </div>
  <div class="row section-faq">
    <div class="col-md-7 col-md-offset-2">
      <p class="faq-question" id="question-one" data-num="1">Is The Negev house actually in the negev?</p>
      <p class="faq-answer" id="answer-1">No. The Negev houses are all in Northern California. The actual Negev is in Southern Israel.</p>

      <p class="faq-question" id="question-two" data-num="2">Do I have to be in the tech world to live in The Negev?</p>
      <p class="faq-answer" id="answer-2">Yes. All members of The Negev are in tech.</p>

      <p class="faq-question" id="question-two" data-num="3">When will you build Negev houses outside of California?</p>
      <p class="faq-answer" id="answer-3">For the moment all three of our houses are in California. We have plans to expand in the future, but not for a few years. For more information contact <a href="mailto:dannyjhaber@gmail.com">Danny Haber.</a></p>
    </div>
  </div>
</div>
