<div class="container">
  <div class="row first-section">
    <div class="col-md-5 col-md-offset-1">
      <%= image_tag "novel.jpg" %>
    </div>
    <div class="col-md-5 ">
      <h2>A Novel Way to Live in Cities</h2>
      <p>The Negev is a one-of-a-kind house. It's communal living 2.0. Live with like-minded individuals in a place managed through technology. Live with great people, come to our hosted parties and events and get perks that only coders and engineers would appreciate.</p>
      <%= button_to 'APPLY NOW', apply_path, class: 'btn', id: 'apply-button', method: 'get' %>
    </div>
  </div>

  <div class="row section">
    <div class="col-md-5 col-md-offset-1">
      <h2>Instant Community</h2>
      <p>At The Negev, we interview and screen every roommate to ensure that everyone here is awesome. When you move into The Negev you will have an instant community of great friends and smart people to do fun things with. We host house BBQs, parties, tech talks, family-style dinners and more.</p>
    </div>
    <div class="col-md-5 ">
      <%= image_tag "community3.jpg" %>
    </div>
  </div>

  <div class="row section">
    <div class="col-md-5 col-md-offset-1">
      <%= image_tag "roommates.jpg" %>
    </div>
    <div class="col-md-5">
      <h2>Who We Are</h2>
      <p>All roomates are in tech. Everybody has passed interviews and each person is friendly and up to something interesting. You can code with an engineer who worked at Google, a former astronaut, and even The Fonz! The Negev is a place for engineers and designers from all around the world to live, work and be social together in the great city of San Francisco.</p>
    </div>
  </div>

  <div class="row section">
    <div class="col-md-5 col-md-offset-1">
      <h2>Amenities</h2>
      <p>When you move into a Negev house you get world-class amenities. We have pool tables, a movie theater, a large co-working space, a lounge, an awesome kitchen an cool workspaces. At The Negev, you'll belong.</p>
    </div>
    <div class="col-md-5 ">
      <%= image_tag "house.jpg" %>
    </div>
  </div>

</div>

<div class="container houses-section">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>The Houses</h2>
      <p>We currently have three locations in and around the San Francisco area. Click on a house below for more information about that location.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <div class="get-container ">
        <div class="get-list single">
          <div class="span-img">
            <%= image_tag "thenegev.png" %>
          </div> <!-- END FIRST HOUSE IMAGE -->
          <div class="span-btn">
            <button class="btn-houses btn">The Negev</button>
          </div> <!-- END FIRST HOUSE BUTTON -->
        </div> <!-- END FIRST HOUSE -->
        <div class="get-list single">
          <div class="span-img">
            <%= image_tag "folsom.png" %>
          </div> <!-- END SECOND HOUSE IMAGE -->
          <div class="span-btn">
            <button class="btn-houses btn">Negev Folsom</button>
          </div> <!-- END SECOND HOUSE BUTTON -->
        </div> <!-- END SECOND HOUSE -->
        <div class="get-list single list-last">
          <div class="span-img">
            <%= image_tag "sixth_street.png" %>
          </div> <!-- END LAST HOUSE IMAGE -->
          <div class="span-btn">
            <button class="btn-houses btn">Negev 6th Street</button>
          </div> <!-- END LAST HOUSE BUTTON -->
        </div> <!-- END LAST HOUSE -->
      </div> <!-- END GET CONTAINER -->
    </div>
  </div>
</div>
<div class="bottom-margin"></div>
