/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font: 400 100%/1.65 "Gotham", "Helvetica Neue", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
  color: #47525d;
  margin-bottom: .75em;
}

h3 {
  font-size: 1.25em;
  font-weight: 200;
  color: #47525d;
  margin-bottom: .75em;
}

p {
  font-size: 0.875em;
  font-weight: 300;
  color: #677277;
}

.align-right {
  text-align: right;
}

.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}

.bottom-margin {
  margin-bottom: 10%;
}

.top-margin {
  margin-top: 0.5%;
}

.black-link a, .black-link a:link, .black-link a:active, .black-link a:hover, .black-link a:visited {
  color: #677277;
}

.header {
  background: rgba(255, 255, 255, 0.7);
  padding: 1%;
  position: fixed;
  z-index: 1;
  width: 100%;
}

img {
  width: 350px;
}

.first-section {
  margin-top: 10%;
  margin-bottom: 1%;
}

.error-section {
  margin-top: 10%;
}

.small-section {
  margin-top: 2%;
}

.section {
  margin-top: 2%;
  height: 300px;
  overflow: hidden;
}

.section-faq {
  margin-top: 2%;
  text-align: left;
}

.section-faq a, .section-faq a:link, .section-faq a:active, .section-faq a:hover, .section-faq a:visited {
  color: black;
}

.faq-answer {
  display: none;
  color: RGBA(163, 172, 178, 1);
}

.faq-question {
  cursor: pointer;
}

.section-content {
  height: 632px;
  display: table;
  /*width: 48.27586%;*/
  /*margin-right: 3.44828%;*/
  /*float: left;*/
}

.houses-section {
  margin-top: 2%;
}

.get-container {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  /*margin-left: 180px;*/
}

.get-container:before {
/*  webkit box-sizing: border-box;
  mozbox-sizing: border-box;*/
  box-sizing: border-box;
}

.single {
  width: 25%;
}

.get-list {
  text-align: center;
  display: block;
  float: left;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  vertical-align: bottom;
  min-height: 317px;
  height: 317px;
}

.list-last {
  border-right: 1px solid #cccccc;
}

.span-img {
  min-height: 240px;
  height: 240px;
  border-bottom: 1px solid #cccccc;
}

.btn-houses {
  position: relative;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #51b9db;
  color: white;
}

.button {
  display: block;
  border-radius: 0.25em;
  font-weight: 300;
  outline: none;
  border: none;
  background-color: #51b9db;
  color: white;
}

button {
  margin-bottom: 0;
}

#top-apply {
  display: none;
}

a:link, a:visited, a:hover, a:active, a {
  text-decoration: none;
  color: white;
}

.red {
  background :red;
}

.blue {
  background: blue;
}

#clipboard {
  width: 50px;
}

.red-text {
  color: red;
}

#app-form {
  display: none;
}
