<!DOCTYPE html>
<html>
<head>
  <title>The Negev: A Novel Way To Live In Cities</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid header">
    <div class="row">
      <div class="col-md-5">
        <a href="<%= root_path %>"><h2>THE NEGEV</h2></a>
      </div>
      <div class="col-md-3 align-right top-margin">
        <p class="black-link"><a href="<%= faq_path %>">FAQ</a></p>
      </div>
      <div class="col-md-2 align-right">
        <%= button_to 'APPLY', apply_path, class: 'btn', id: 'top-apply', method: 'get' %>
      </div>
    </div>
  </div>
<%= yield %>

</body>
</html>
